body {
    background-color:rgb(243, 229, 216)

}

.background_parent {
    display: flex;
}

.background_body {
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    width: 37%;
    margin: auto;
}

div {
    text-align: center
}

.second_part {
    background-color: rgb(255, 247, 252);
    border-radius: 20px;
}

.title_preparation {
    color: rgb(121, 69, 91);
}

h2 {
    color: rgb(136, 74, 58);
}

.button_color_one ::marker {
    color: rgb(121, 69, 91);
  }
  
  .Button_color_two ::marker {
    color: rgb(136, 74, 58);
  }

.gramas{
    color: rgb(136, 74, 58);
}

.line {
    width: 700px;
    border: 1px solid  rgb(240, 240, 240)
}

.image {
    border-radius: 25px;
}