body {
    background-color:rgb(243, 229, 216)

}

.background_body {
    display: flex;
    background-color: white;
    flex-direction: column;
    border-radius: 30px;
    width: 700px;
    height: auto;
    margin: auto;
    padding: 20px;
}

.second_part {
    background-color: rgb(255, 247, 252);
    border-radius: 20px;
}

.title_preparation {
    color: rgb(121, 69, 91);
    padding-left: 20px;
}

h2 {
    color: rgb(136, 74, 58);
}

.button_color_one ::marker {
    color: rgb(121, 69, 91);
  }
  
  .Button_color_two ::marker {
    color: rgb(136, 74, 58);
  }

.gramas{
    color: rgb(136, 74, 58);
    font-weight: bold;
}

.line {

    align-items: center;
    align-content: center;
    width: 700px;
    border: 1px solid  rgb(240, 240, 240)
}

.image {
    display: flex;
    border-radius: 25px;
    width: 650px;
    align-items: center;    
    justify-content: center;
    padding-left: 15px;
}

li {
    text-align: left;
    padding: 10px;
}

footer {
    text-align: center;
    padding-top: 25px;
}