body {
    background-color:rgb(243, 229, 216)
}

.background_body {
    background-color: white;

}

div {
    text-align: center
}

.second_part {
    background-color: rgb(255, 247, 252);
}

.title_preparation {
    color: rgb(121, 69, 91);
}

h2 {
    color: rgb(136, 74, 58);
}